<div *ngIf="error" class="msg-error">{{error}}</div>
<div class="background">
    <h1>
      {{title}}
    </h1>
    <button (click)="crearCurso()" class="btn">
      {{ crearcurso ? 'No Crear Curso' : 'Crear Curso'}}
    </button>
  
    <button (click)="vc()" class="btn">
      {{ verc ? 'Esconder Cursos' : 'Visualizar Cursos'}}
    </button>
  
    <div *ngIf="crearcurso">

      <form [formGroup]="cursoCrear" (ngSubmit)="ncurso()">

        <div class="form-group">
          <label for="codigo">Codigo</label>
          <input type="text" formControlName="codigo" class="form-control" />
        </div>
  
        <div class="form-group">
          <label for="curso">Nombre Curso</label>
          <input type="text" formControlName="curso" class="form-control" />
        </div>

        <div class="form-group">
          <label for="curso">Créditos</label>
          <input type="text" formControlName="creditos" class="form-control" />
        </div>

        <div>
          <label for="carreras">Carrera</label>
            <select formControlName="carreraForm" id="carrera">
              <option *ngFor="let carrera of listCarrerasDisponibles; let i = index" [value]="listCarrerasDisponibles[i]['ID']">
                {{listCarrerasDisponibles[i]["Nombre"]}}
              </option>
          </select>
        </div>

        <div class="form-group">
          <button class="btn-primary">Agregar Curso</button>
        </div>

      </form>
    </div>
  
    <div *ngIf="verificar()" class="list-cursos"  > 
      <ul *ngFor="let curso of listCodCursos; let i = index">
        
        <li >Código: {{listCodCursos[i]}}
        </li>
  
        <li>Curso: {{listNomCursos[i]}}
        </li>
  
        <li>Créditos: {{listCreditos[i]}}
        </li>
  
        <li>Carrera: {{listCarrera[i]}}
        </li>
  
        <button (click)="delCurso(i)" class="btndes">Eliminar curso</button>
        <button (click)="subir(i)" class="btndes">Subir curso</button>
      </ul>
  
    </div>
  
  </div>