.background{
    background-color: lightblue;
    color: black;
    }
.list-cursos{
    background-color: lightgrey;
    color: black;
}
.btn {
    background-color: white;
    margin: 5px;
}

.inputs{ 
    margin: 5px;
}
.btndes {
    background-color: red;
    margin: 5px;
    color: white
}

