<div class="background">
    <h1>
        {{title}}
      </h1>
      
    <ul>
        <li>
            <a class="text-white"  [routerLink]="['../gestion-cursos'] ">Gestionar Cursos</a>
        </li>

        <li>   
            <a class="text-white"  [routerLink]="['../admin-crea'] ">Iniciar semestre</a>
        </li>

        <li>   
        <a class="text-white"  [routerLink]="['../agregar-personas'] ">Agregar Personas</a>
        </li>

        <li>   
            <a class="text-white"  [routerLink]="['../agregar-carreras'] ">Agregar Carreras</a>
            </li>
    </ul>   
</div>
