
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Ingresar</h3>
          <div class="d-flex justify-content-end pageTitle">
            <h1>XtecDigital</h1>
          </div>
          <div>
            <button class="buttons" (click)="circleUserType('estudiante')">Estudiante</button>
            <button class="buttons" (click)="circleUserType('profesor')">Profesor</button>
            <button class="buttons" (click)="circleUserType('admin')">Admin</button>
          </div>
        </div>

        <div *ngIf="verificarEstudiante()" class="card-body">
          <form [formGroup]="estudianteForm" (submit)="checkUser(estudianteForm.value)">
            <div class="input-group form-group mt-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" formControlName="id" class="form-control" placeholder="Carnet">
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <input type="submit" value="Entrar" class="btn float-right login_btn">
            </div>
          </form>
        </div>

        <div *ngIf="verificarProfesor()" class="card-body">
          <form [formGroup]="profesorForm" (submit)="checkUser(profesorForm.value)">
            <div class="input-group form-group mt-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" formControlName="id" class="form-control" placeholder="Cedula">
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <input type="submit" value="Entrar" class="btn float-right login_btn">
            </div>
          </form>
        </div>

        <div *ngIf="verificarAdmin()" class="card-body">
          <form [formGroup]="adminForm" (submit)="checkUser(adminForm.value)">
            <div class="input-group form-group mt-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" formControlName="id" class="form-control" placeholder="Identificador">
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <input type="submit" value="Entrar" class="btn float-right login_btn">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
